# Cuadrados Medios
Oscar Pizarro

* Realizar un progeram que me permita implementar el metodo de cuadrados medios.

In [4]:
from tabulate import tabulate
from pandas import DataFrame


xnc=[]
xn=[]
ui=[]
rn=[]
longitud=[]
semillacuadrada=0

iteraciones=int(input('Cantidad de Iteracciones: '))
semilla=int(input('Valor de la semilla: '))
digitos=int(input('Digitos a considerar: '))

for i in range(iteraciones):
    scuadrada=semilla*semilla
    xn.append(semilla)
    xno=str(scuadrada)
    longit=len(xno)
    longitud.append(longit)
    ui1=int((int((longit/2))-int((digitos/2)))+1)
    ui2=int((int((longit/2))+int((digitos/2)))+2)
    semillanueva=xno[int(ui1):int(ui2)]
    snu=int(semillanueva)
    uno="1"
    for j in range(digitos):
        uno=uno+"0"
    RN=(snu/int(uno))
    semilla=snu
    ui.append(snu)
    xnc.append(scuadrada)
    rn.append(RN)


dt = {'xn' : xn, 'xn*xn' : xnc,'longitud' : longitud,'ui' : ui,'rn' : rn,}
df= DataFrame(dt)
df

Cantidad de Iteracciones: 10
Valor de la semilla: 35468
Digitos a considerar: 4

      xn       xn*xn  longitud     ui      rn
0  35468  1257979024        10  97902  9.7902
1  97902  9584801604        10  80160  8.0160
2  80160  6425625600        10  62560  6.2560
3  62560  3913753600        10  75360  7.5360
4  75360  5679129600        10  12960  1.2960
5  12960   167961600         9  96160  9.6160
6  96160  9246745600        10  74560  7.4560
7  74560  5559193600        10  19360  1.9360
8  19360   374809600         9  80960  8.0960
9  80960  6554521600        10  52160  5.2160